*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-soft-magenta: hsl(300, 69%, 71%);
  --color-violet: hsl(257, 40%, 49%);
  --color-white: hsl(0, 0%, 100%);

  --color-shadow: hsla(0, 0%, 0%, .2);
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: var(--color-violet);
  background-image: url('../images/bg-desktop.svg');
  background-repeat: no-repeat;
  color: var(--color-white);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  height: 100%;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button, input, select, textarea {
  font: inherit;
}

header {
  padding: 6rem 0 0 7rem;
}

header > h1 {
  width: 21rem;
}

main {
  display: flex;
  gap: 5rem;
  padding: 8rem 8rem 0;
}

main > figure {
  flex: 0 0 auto;
}

main > article > h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-weight: 600;
  margin-top: 4rem;
}

main > article > p {
  margin-top: 2rem;
}

main > article > a {
  background-color: var(--color-white);
  border-radius: 4rem;
  box-shadow: 0 1rem 1rem var(--color-shadow);
  color: var(--color-violet);
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  margin-top: 2.5rem;
  padding: 1.5rem 0;
  text-align: center;
  text-decoration: none;
  width: 20rem;
}

main > article > a:hover {
  background-color: var(--color-soft-magenta);
  color: var(--color-white);
}

footer {
  padding: 1.5rem 7rem 3.5rem 7rem;
  text-align: right;
}

footer > a {
  border: .2rem solid var(--color-white);
  border-radius: 50%;
  color: var(--color-white);
  display: inline-block;
  font-size: 2.4rem;
  margin-left: 1.5rem;
  padding: .5rem 0;
  text-align: center;
  width: 5rem;
}

footer > a:hover {
  border-color: var(--color-soft-magenta);
  color: var(--color-soft-magenta);
}

@media screen and (max-width: 375px) {
  body {
    background-image: url('../images/bg-mobile.svg');
    font-size: 1.6rem;
  }

  header {
    padding: 3rem 3.5rem 0;
  }

  header > h1 {
    width: 13rem;
  }

  main {
    display: block;
    padding: 6rem 3.5rem 0;
  }

  main > article {
    margin-top: 5rem;
    text-align: center;
  }

  main > article > h2 {
    font-size: 2.4rem;
    margin-top: 0;
  }

  main > article > p {
    margin-top: 1.5rem;
  }

  main > article > a {
    font-size: 1.4rem;
    padding: 1rem;
  }

  footer {
    padding: 6rem 3.5rem 3rem;
    text-align: center;
  }

  footer > a {
    font-size: 1.6rem;
    margin: .25rem;
    padding: .25rem 0;
    width: 3.4rem;
  }
}
